<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>Matador de monstro</title>
  </head>
  <body>
    <div id="app">
      <div class="panel scores">
        <div class="score">
          <h1>Jogador</h1>
          <div class="life-bar">
            <div
              class="life"
              :class="{danger: playerLife < 20}"
              :style="{width: playerLife + '%'}"
            ></div>
          </div>
          <div>{{playerLife}}%</div>
        </div>
        <div class="score">
          <h1>Monstro</h1>
          <div class="life-bar">
            <div
              class="life"
              :class="{danger: monsterLife < 20}"
              :style="{width: monsterLife + '%'}"
            ></div>
          </div>
          <div>{{monsterLife}}%</div>
        </div>
      </div>
      <div v-if="hasResult" class="panel result">
        <div v-if="monsterLife == 0" class="win">Você ganhou!!!</div>
        <div v-else class="lose">Você perdeu!!!</div>
      </div>
      <div class="panel buttons">
        <template v-if="running">
          <button @click="attack(false)" class="btn attack">Ataque</button>
          <button @click="attack(true)" class="btn spacial-attack">
            Ataque especial
          </button>
          <button @click="healAndHurt()" class="btn heal">Curar</button>
          <button @click="running = false" class="btn give-up">Desistir</button>
        </template>
        <button @click="startGame()" v-else class="btn new-game">
          Iniciar Jogo
        </button>
      </div>
      <div v-if="logs.length" class="panel logs">
        <ul>
          <li v-for="log in logs" :class="log.cls">{{log.text}}</li>
        </ul>
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
