<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <template v-if="logado">
        <p>Usuário logado: {{nome}}</p>
        <p>Perfil: Admin</p>
      </template>
      <p v-else-if="anonimo">Navegando como anônimo</p>
      <p v-else>Nenhum usuário logado</p>
      <input type="checkbox" v-model="anonimo" />
      <button @click="logado = !logado">{{logado ? 'Sair' : 'Entrar'}}</button>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          nome: "Maria",
          logado: false,
          anonimo: false,
        },
        method: {},
      });
    </script>
  </body>
</html>
