<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <style>
      ul {
        list-style: none;
      }
    </style>

    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="(cor, i) in cores">{{i + 1}}) - {{cor}}</li>
      </ul>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          cores: ["vermelho", "verde", "amarelo", "azul"],
          pessoas: [
            { nome: "Ana", idade: 26, peso: 59 },
            { nome: "Guilherme", idade: 22, peso: 89 },
          ],
        },
        method: {},
      });
    </script>
  </body>
</html>
