<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <p>{{contador}}</p>
      <button v-on:click="somar(4)">Somar</button>
      <p v-on:mousemove="mouse()">
        Mouse: {{x}} e {{y}}
        <span v-on:mousemove.stop="">PARAR AQUI!!!</span>
      </p>
      <a v-on:click.stop.prevent="parar()" href="http://www.google.com.br"
        >Google</a
      >
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          contador: 0,
          x: 0,
          y: 0,
        },
        methods: {
          somar: function (num) {
            this.contador += num;
          },
          mouse: function () {
            this.x = event.clientX;
            this.y = event.clientY;
          },
          parar: function () {
            alert("não permitido");
          },
        },
      });
    </script>
  </body>
</html>
