<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <p>{{titulo}}</p>
      <input type="text" v-model="titulo" />
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          titulo: "Usando Vue.js",
        },
      });
    </script>
  </body>
</html>
