<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button @click="aumentar()">Aumentar</button>
      <button @click="contador2++">Aumentar 2</button>
      <button @click="diminuir()">Diminuir</button>
      <p>Contador: {{contador}}</p>
      <p>Contador: {{contador2}}</p>
      <p>Resultado: {{resultado}}</p>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          contador: 0,
          contador2: 0,
        },
        computed: {
          resultado() {
            return this.contador % 5 == 0
              ? "É Múltiplo de 5"
              : "não é múltiplo de 5";
          },
        },
        methods: {
          aumentar() {
            this.contador++;
          },
          diminuir() {
            this.contador--;
          },
        },
      });
    </script>
  </body>
</html>
