<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <p>{{contador}}</p>
      <input type="text" :value="contador" />
      <hr />
      <button @click="somar">Somar</button>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          contador: 0,
        },
        methods: {
          somar() {
            this.contador++;
          },
        },
      });
    </script>
  </body>
</html>
