<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <p v-once>{{titulo}}</p>
      <p>{{saudacao()}}</p>
      <a v-bind:href="link">Google</a>
      <hr />
      <p v-html="linkHtml"></p>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          titulo: "Usando Vue.js",
          link: "http://www.google.com.br",
          linkHtml: "<a href='http://www.google.com.br'>Google</a>",
        },
        methods: {
          saudacao: function () {
            this.titulo = "Bom dia!!!";
            return this.titulo;
          },
        },
      });
    </script>
  </body>
</html>
