<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://unpkg.com/vue"></script>

    <title>Document</title>
  </head>
  <body>
    <div id="desafio">
      <!-- 1) Preencha a tag <p> abaixo com o seu Nome e Idade - usando Interpolação -->
      <p>Usando VueJS - {{nome}} ({{idade}})</p>

      <!-- 2) Exiba sua idade multiplicada por 3 -->
      <p>{{idade * 3}}</p>

      <!-- 3) Chame uma função para exibir um número randomico
              entre 0 and 1 (Math.random()) -->
      <p>{{numeroAleatorio()}}</p>

      <!-- 4) Procure uma imagem no google e exiba na tag img 
              fazendo o binding no atributo "src" -->
      <div>
        <img height="400" v-bind:src="imagem" />
      </div>

      <!-- 5) Inicialize o input com o seu nome (use o atributo "value") -->
      <div>
        <input type="text" v-bind:value="nome" />
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
