<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://unpkg.com/vue"></script>

    <title>Document</title>
  </head>
  <body>
    <div id="desafio">
      <!-- 1) Exiba um alert quando o botão for clicado -->
      <div>
        <button v-on:click="button()">Exibir Alerta</button>
      </div>

      <!-- 2) Escute o evento "keyup" e armazene o valor na propriedade
            data (dica: event.target.value) -->
      <div>
        <input type="text" v-on:keyup="input()" />
        <p>{{ valor }}</p>
      </div>

      <hr />

      <div>
        <input type="text" v-on:keyup="valor = $event.target.value" />
        <p>{{ valor }}</p>
      </div>

      <!-- 3) Ajuste o exemplo 2 para disparar o evento "keydown" somente
            quando a tecla for ENTER -->
      <div>
        <input type="text" v-on:keyup.enter="input()" />
        <p>{{ valor }}</p>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
